**1. Data Exploration and Preprocessing:**

Load the adult_with_headers.csv and conduct basic data exploration like summary statistics, missing values, data types

In [2]:
# prompt: Load the "adult_with_headers.csv" and conduct basic data exploration

# Import necessary libraries
import pandas as pd

# Load the dataset
df = pd.read_csv("D:/EXCELR/Assignments/EDA2/adult_with_headers.csv")

# Data exploration
print(df.head())  # Print first few rows
print(df.info())  # Check data types and missing values
print(df.describe())  # Get summary statistics

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [3]:
# prompt: Handle missing values as per the best practices (imputation, removal, etc.).

# Check for missing values
missing_values = df.isnull().sum()

# Identify columns with missing values
columns_with_missing_values = missing_values[missing_values > 0].index.tolist()

# Choose an appropriate imputation strategy for each column
for column in columns_with_missing_values:
    if df[column].dtype == "object":
        # Impute missing values with the most frequent category
        df[column] = df[column].fillna(df[column].mode()[0])
    else:
        # Impute missing values with the mean
        df[column] = df[column].fillna(df[column].mean())

# Verify that there are no missing values
df.isnull().sum().sum()

0

In [4]:
# prompt: Apply Standard Scaling to numerical features

from sklearn.preprocessing import StandardScaler

numerical_features = df.select_dtypes(include=["int64", "float64"]).columns

scaler = StandardScaler()
scaled_features = scaler.fit_transform(df[numerical_features])

df[numerical_features] = scaled_features
print(df.head())

        age          workclass    fnlwgt   education  education_num  \
0  0.030671          State-gov -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
2 -0.042642            Private  0.245079     HS-grad      -0.420060
3  1.057047            Private  0.425801        11th      -1.197459
4 -0.775768            Private  1.408176   Bachelors       1.134739

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0      0.148453      -0.21666       -0.035429   United-States   <=50K
1     -0.145920      -0.21666       -2.222153   United-States   <=50K
2     -0.145920      -0.21666       -0.035429   United-States   <=50K
3     -0.145920      -0.21666       -0.035429   United-States   <=50K
4     -0.145920      -0.21666       -0.035429            Cuba   <=50K

In [12]:
# prompt: Apply Min-Max Scaling to numerical features

from sklearn.preprocessing import MinMaxScaler

numerical_features = df.select_dtypes(include=["int64", "float64"]).columns

scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(df[numerical_features])

df[numerical_features] = scaled_features
print(df.head())

        age          workclass    fnlwgt   education  education_num  \
0  0.301370          State-gov  0.044302   Bachelors       0.800000
1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
2  0.287671            Private  0.138113     HS-grad       0.533333
3  0.493151            Private  0.151068        11th       0.400000
4  0.150685            Private  0.221488   Bachelors       0.800000

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0       0.02174           0.0        0.397959   United-States   <=50K
1       0.00000           0.0        0.122449   United-States   <=50K
2       0.00000           0.0        0.397959   United-States   <=50K
3       0.00000           0.0        0.397959   United-States   <=50K
4       0.00000           0.0        0.397959            Cuba   <=50K

# prompt: Discuss the scenarios where each scaling technique is preferred and why.

# StandardScaler is preferred when:
# - The data is normally distributed.
# - The features have different units of measurement.
# - The features have different variances.

# MinMaxScaler is preferred when:
# - The data is not normally distributed.
# - The features have the same units of measurement.
# - The features have the same variance.

**2. Encoding Techniques:**

In [5]:
# prompt: Find categorical variables and the categories for them in above dataset

categorical_features = df.select_dtypes(include=["object"]).columns

for column in categorical_features:
  categories = df[column].unique()
  print(f"Column: {column}")
  print(f"Categories: {categories}")
  print()

Column: workclass
Categories: [' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']

Column: education
Categories: [' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']

Column: marital_status
Categories: [' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']

Column: occupation
Categories: [' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']

Column: relationship
Categories: [' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']

Column: race
Categories: [' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']

Column: sex
Categories: [' Male' ' Female']

Column: native_country
Categories: [' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

Column: income
Categories: [' <=50K' ' >50K']

In [15]:
# Remove the ? in the current data with some valid values
df['workclass'].value_counts()
df['workclass']= df['workclass'].str.replace('?', 'Private')
df['workclass'].value_counts()

df['occupation'].value_counts()
df['occupation']= df['occupation'].str.replace('?', 'Prof-specialty ')
df['occupation'].value_counts()


df['native_country'].value_counts()
df['native_country']= df['native_country'].str.replace('?', 'United-States')
df['native_country'].value_counts()

native_country
 United-States                 29753
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: count, dtype: int64

In [6]:
# prompt: Apply One-Hot Encoding to categorical variables with less than 5 categories.
# Identify categorical features with less than 5 categories
categorical_features = df.select_dtypes(include=["object"]).columns
low_cardinality_features = [cname for cname in categorical_features if df[cname].nunique() < 5]

# Apply one-hot encoding to low cardinality features
df_encoded = pd.get_dummies(df, columns=low_cardinality_features)

# Print the encoded DataFrame
print(df_encoded.head())

        age          workclass    fnlwgt   education  education_num  \
0  0.030671          State-gov -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
2 -0.042642            Private  0.245079     HS-grad      -0.420060
3  1.057047            Private  0.425801        11th      -1.197459
4 -0.775768            Private  1.408176   Bachelors       1.134739

        marital_status          occupation    relationship    race  \
0        Never-married        Adm-clerical   Not-in-family   White
1   Married-civ-spouse     Exec-managerial         Husband   White
2             Divorced   Handlers-cleaners   Not-in-family   White
3   Married-civ-spouse   Handlers-cleaners         Husband   Black
4   Married-civ-spouse      Prof-specialty            Wife   Black

   capital_gain  capital_loss  hours_per_week  native_country  sex_ Female  \
0      0.148453      -0.21666       -0.035429   United-States        False
1     -0.145920      -0.21666       -2.222153   United-States        False
2     -0.145920      -0.21666       -0.035429   United-States        False
3     -0.145920      -0.21666       -0.035429   United-States        False
4     -0.145920      -0.21666       -0.035429            Cuba         True

   sex_ Male  income_ <=50K  income_ >50K
0       True           True         False
1       True           True         False
2       True           True         False
3       True           True         False
4      False           True         False

In [7]:
# prompt: Use Label Encoding for categorical variables with more than 5 categories.

from sklearn.preprocessing import LabelEncoder

# Identify categorical features with more than 5 categories
categorical_features = df.select_dtypes(include=["object"]).columns
high_cardinality_features = [cname for cname in categorical_features if df[cname].nunique() > 5]

# Apply label encoding to high cardinality features
le = LabelEncoder()
for feature in high_cardinality_features:
    df_encoded[feature] = le.fit_transform(df[feature])

# Print the encoded DataFrame
print(df_encoded.head())

        age  workclass    fnlwgt  education  education_num  marital_status  \
0  0.030671          7 -1.063611          9       1.134739               4
1  0.837109          6 -1.008707          9       1.134739               2
2 -0.042642          4  0.245079         11      -0.420060               0
3  1.057047          4  0.425801          1      -1.197459               2
4 -0.775768          4  1.408176          9       1.134739               2

   occupation  relationship    race  capital_gain  capital_loss  \
0           1             1   White      0.148453      -0.21666
1           4             0   White     -0.145920      -0.21666
2           6             1   White     -0.145920      -0.21666
3           6             0   Black     -0.145920      -0.21666
4          10             5   Black     -0.145920      -0.21666

   hours_per_week  native_country  sex_ Female  sex_ Male  income_ <=50K  \
0       -0.035429              39        False       True           True
1       -2.222153              39        False       True           True
2       -0.035429              39        False       True           True
3       -0.035429              39        False       True           True
4       -0.035429               5         True      False           True

   income_ >50K
0         False
1         False
2         False
3         False
4         False

# prompt: Discuss the pros and cons of One-Hot Encoding and Label Encoding.

# Pros of One-Hot Encoding:

# 1. Easy to interpret:
# One-hot encoding creates new binary features for each category, making it easier to understand the relationship between the categorical feature and the target variable.

# 2. Works well with machine learning algorithms:
# Many machine learning algorithms, such as linear regression and logistic regression, can directly handle one-hot encoded features without any issues.

# 3. Captures all categories:
# One-hot encoding ensures that all categories of a categorical feature are represented in the encoded data.

# Cons of One-Hot Encoding:

# 1. Increased dimensionality:
# One-hot encoding can significantly increase the dimensionality of the data, especially when there are many categories in a categorical feature. This can lead to increased computational cost and overfitting.

# 2. Difficulty interpreting high-dimensional data:
# With increased dimensionality, it becomes more difficult to interpret the relationships between features and the target variable.

# 3. Not suitable for ordinal data:
# One-hot encoding does not capture the ordinal relationship between categories. For example, if a categorical feature represents education level with categories "High School", "Bachelor's", and "PhD", one-hot encoding would not capture the fact that "PhD" is a higher level of education than "Bachelor's".

# Pros of Label Encoding:

# 1. Reduced dimensionality:
# Label encoding does not increase the dimensionality of the data, making it more efficient for machine learning algorithms to process.

# 2. Easy to interpret:
# Label encoding assigns numerical values to categories, making it easier to understand the relationship between the categorical feature and the target variable.

# 3. Suitable for ordinal data:
# Label encoding can capture the ordinal relationship between categories. For example, if a categorical feature represents education level with categories "High School", "Bachelor's", and "PhD", label encoding would assign numerical values such as 1, 2, and 3, respectively, reflecting the ordinal relationship between the categories.

# Cons of Label Encoding:

# 1. Can introduce bias:
# Label encoding can introduce bias if the numerical values assigned to categories are not meaningful or if they imply a certain order that does not exist in the data.

# 2. Not suitable for many machine learning algorithms:
# Some machine learning algorithms, such as linear regression and logistic regression, cannot directly handle label-encoded features.

# 3. Can obscure relationships between categories:
# Label encoding can obscure the relationships between categories by assigning numerical values that do not reflect the true relationships between the categories.

**3. Feature Engineering:**

In [8]:
# prompt: Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

# Create a new feature that combines education level and occupation.
df['education_occupation'] = df['education'].astype(str) + '_' + df['occupation'].astype(str)

# Rationale: This new feature captures the relationship between education level and occupation, which could be relevant for predicting income. For example, someone with a high level of education and a high-paying occupation is more likely to earn more than $50K/yr.

# Create a new feature that calculates the number of years of work experience.
df['years_of_experience'] = df['hours_per_week'] * df['workclass'].apply(lambda x: 1 if x == 'Private' else 0.5)
print(df.head())
# Rationale: This new feature captures the amount of work experience someone has, which could be relevant for predicting income. For example, someone with many years of experience is more likely to earn more than $50K/yr.

        age          workclass    fnlwgt   education  education_num  \
0  0.030671          State-gov -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
2 -0.042642            Private  0.245079     HS-grad      -0.420060
3  1.057047            Private  0.425801        11th      -1.197459
4 -0.775768            Private  1.408176   Bachelors       1.134739

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income  \
0      0.148453      -0.21666       -0.035429   United-States   <=50K
1     -0.145920      -0.21666       -2.222153   United-States   <=50K
2     -0.145920      -0.21666       -0.035429   United-States   <=50K
3     -0.145920      -0.21666       -0.035429   United-States   <=50K
4     -0.145920      -0.21666       -0.035429            Cuba   <=50K

          education_occupation  years_of_experience
0      Bachelors_ Adm-clerical            -0.017715
1   Bachelors_ Exec-managerial            -1.111077
2   HS-grad_ Handlers-cleaners            -0.017715
3      11th_ Handlers-cleaners            -0.017715
4    Bachelors_ Prof-specialty            -0.017715

In [21]:
# prompt: Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

# Create a new feature that combines education level and occupation.
df['education_occupation'] = df['education'].astype(str) + '_' + df['occupation'].astype(str)

# Rationale: This new feature captures the relationship between education level and occupation, which could be relevant for predicting income. For example, someone with a high level of education and a high-paying occupation is more likely to earn more than $50K/yr.

# Create a new feature that calculates the number of years of work experience.
df['years_of_experience'] = df['hours_per_week'] * df['workclass'].apply(lambda x: 1 if x == 'Private' else 0.5)
print(df.head())
# Rationale: This new feature captures the amount of work experience someone has, which could be relevant for predicting income. For example, someone with many years of experience is more likely to earn more than $50K/yr.

        age          workclass    fnlwgt   education  education_num  \
0  0.301370          State-gov  0.044302   Bachelors       0.800000
1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
2  0.287671            Private  0.138113     HS-grad       0.533333
3  0.493151            Private  0.151068        11th       0.400000
4  0.150685            Private  0.221488   Bachelors       0.800000

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income  \
0       0.02174           0.0        0.397959   United-States   <=50K
1       0.00000           0.0        0.122449   United-States   <=50K
2       0.00000           0.0        0.397959   United-States   <=50K
3       0.00000           0.0        0.397959   United-States   <=50K
4       0.00000           0.0        0.397959            Cuba   <=50K

          education_occupation  years_of_experience
0      Bachelors_ Adm-clerical             0.198980
1   Bachelors_ Exec-managerial             0.061224
2   HS-grad_ Handlers-cleaners             0.198980
3      11th_ Handlers-cleaners             0.198980
4    Bachelors_ Prof-specialty             0.198980

In [19]:
# prompt: Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.
import numpy as np
# Check for missing values
missing_values = df.isnull().sum()

# Identify columns with missing values
columns_with_missing_values = missing_values[missing_values > 0].index.tolist()

# Choose an appropriate imputation strategy for each column
for column in columns_with_missing_values:
    if df[column].dtype == "object":
        # Impute missing values with the most frequent category
        df[column] = df[column].fillna(df[column].mode()[0])
    else:
        # Impute missing values with the mean
        df[column] = df[column].fillna(df[column].mean())

# Verify that there are no missing values
df.isnull().sum().sum()

# Apply a log transformation to the skewed numerical feature "hours_per_week"
df["hours_per_week"] = (np.log((df["hours_per_week"])*(-1) + 1))

print("""1 Justify the choice of log transformation:\n
2 The "hours_per_week" feature is skewed to the right, as seen in the summary statistics or a histogram.\n
3 Applying a log transformation can help normalize the distribution of the feature, making it more suitable for machine learning algorithms.\n
4 The log transformation also compresses the range of values, reducing the influence of outliers.""")

print(df.head())

1 Justify the choice of log transformation:

2 The "hours_per_week" feature is skewed to the right, as seen in the summary statistics or a histogram.

3 Applying a log transformation can help normalize the distribution of the feature, making it more suitable for machine learning algorithms.

4 The log transformation also compresses the range of values, reducing the influence of outliers.
        age          workclass    fnlwgt   education  education_num  \
0  0.030671          State-gov -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
2 -0.042642            Private  0.245079     HS-grad      -0.420060
3  1.057047            Private  0.425801        11th      -1.197459
4 -0.775768            Private  1.408176   Bachelors       1.134739

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income  \
0      0.148453      -0.21666       -0.038916   United-States   <=50K
1     -0.145920      -0.21666        0.066603   United-States   <=50K
2     -0.145920      -0.21666       -0.038916   United-States   <=50K
3     -0.145920      -0.21666       -0.038916   United-States   <=50K
4     -0.145920      -0.21666       -0.038916            Cuba   <=50K

          education_occupation  years_of_experience
0      Bachelors_ Adm-clerical            -0.017715
1   Bachelors_ Exec-managerial            -1.111077
2   HS-grad_ Handlers-cleaners            -0.017715
3      11th_ Handlers-cleaners            -0.017715
4    Bachelors_ Prof-specialty            -0.017715

**4. Feature Selection**

In [22]:
# prompt: Use the Isolation Forest algorithm to identify and remove outliers for numerical columns. Discuss how outliers can affect model performance.
import numpy as np
import pandas as pd
from sklearn.ensemble import IsolationForest

numerical_features = df.select_dtypes(include=["int64", "float64"]).columns

# Create an Isolation Forest model
model = IsolationForest(contamination='auto')

# Fit the model to the data
model.fit(df[numerical_features])

# Get outlier scores
outlier_scores = model.decision_function(df[numerical_features])

# Identify outlier indices
outlier_indices = np.argsort(outlier_scores)[-10:]

# Remove outliers from the DataFrame
df_without_outliers = df.drop(outlier_indices)

# Print the head of the new DataFrame
print(df_without_outliers.head())

        age          workclass    fnlwgt   education  education_num  \
0  0.301370          State-gov  0.044302   Bachelors       0.800000
1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
2  0.287671            Private  0.138113     HS-grad       0.533333
3  0.493151            Private  0.151068        11th       0.400000
4  0.150685            Private  0.221488   Bachelors       0.800000

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income  \
0       0.02174           0.0        0.397959   United-States   <=50K
1       0.00000           0.0        0.122449   United-States   <=50K
2       0.00000           0.0        0.397959   United-States   <=50K
3       0.00000           0.0        0.397959   United-States   <=50K
4       0.00000           0.0        0.397959            Cuba   <=50K

          education_occupation  years_of_experience
0      Bachelors_ Adm-clerical             0.198980
1   Bachelors_ Exec-managerial             0.061224
2   HS-grad_ Handlers-cleaners             0.198980
3      11th_ Handlers-cleaners             0.198980
4    Bachelors_ Prof-specialty             0.198980

In [22]:
# Select only numerical columns
numerical_df = df.select_dtypes(include=['number'])

# Calculate the correlation matrix for numerical columns
correlation_matrix = numerical_df.corr()

# Display the correlation matrix
print(correlation_matrix)

# Calculate other relevant metrics, such as mean, standard deviation, and quartiles for all columns
df.describe(include='all')

                          age    fnlwgt  education_num  capital_gain  \
age                  1.000000 -0.076646       0.036527      0.077674
fnlwgt              -0.076646  1.000000      -0.043195      0.000432
education_num        0.036527 -0.043195       1.000000      0.122630
capital_gain         0.077674  0.000432       0.122630      1.000000
capital_loss         0.057775 -0.010252       0.079923     -0.031615
hours_per_week       0.025237 -0.015156       0.091803      0.045171
years_of_experience  0.068756 -0.018768       0.148123      0.078409

                     capital_loss  hours_per_week  years_of_experience
age                      0.057775        0.025237             0.068756
fnlwgt                  -0.010252       -0.015156            -0.018768
education_num            0.079923        0.091803             0.148123
capital_gain            -0.031615        0.045171             0.078409
capital_loss             1.000000        0.033540             0.054256
hours_per_week           0.033540        1.000000             0.365547
years_of_experience      0.054256        0.365547             1.000000

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,education_occupation,years_of_experience
count,3.256100e+04,32561,3.256100e+04,32561,3.256100e+04,32561,32561,32561,32561,32561,3.256100e+04,3.256100e+04,32561.000000,32561,32561,32561,3.256100e+04
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2,217,NaN
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K,HS-grad_ Craft-repair,NaN
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720,1922,NaN
mean,-2.705915e-17,NaN,-1.001625e-16,NaN,1.471887e-16,NaN,NaN,NaN,NaN,NaN,1.309314e-17,1.016900e-16,0.062202,NaN,NaN,NaN,-7.746773e-18
std,1.000015e+00,NaN,1.000015e+00,NaN,1.000015e+00,NaN,NaN,NaN,NaN,NaN,1.000015e+00,1.000015e+00,0.246924,NaN,NaN,NaN,5.000077e-01
min,-1.582206e+00,NaN,-1.681631e+00,NaN,-3.529656e+00,NaN,NaN,NaN,NaN,NaN,-1.459205e-01,-2.166595e-01,-2.736965,NaN,NaN,NaN,-1.597015e+00
25%,-7.757679e-01,NaN,-6.816910e-01,NaN,-4.200596e-01,NaN,NaN,NaN,NaN,NaN,-1.459205e-01,-2.166595e-01,-0.038916,NaN,NaN,NaN,-1.771472e-02
50%,-1.159546e-01,NaN,-1.082193e-01,NaN,-3.136003e-02,NaN,NaN,NaN,NaN,NaN,-1.459205e-01,-2.166595e-01,0.066603,NaN,NaN,NaN,-1.771472e-02
75%,6.904838e-01,NaN,4.478765e-01,NaN,7.460392e-01,NaN,NaN,NaN,NaN,NaN,-1.459205e-01,-2.166595e-01,0.198673,NaN,NaN,NaN,1.847597e-01
max,3.769612e+00,NaN,1.226856e+01,NaN,2.300838e+00,NaN,NaN,NaN,NaN,NaN,1.339458e+01,1.059351e+01,0.457963,NaN,NaN,NaN,2.371483e+00